body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  height: 100%;
}

header,
footer {
  padding: 5px;
}

main {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  min-height: 50px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0, 0.45);
  z-index: 2;
}

header h1 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.app-body {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}