.schedules {
  overflow: hidden;
  margin-top: 5px;
}

.player-schedules {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.player-schedules:last-of-type {
  margin-bottom: 0;
}

.schedule {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 1px;
  min-width: 250px;
  transition: transform 300ms ease;
}

@media screen and (min-width: 750px) {
  .schedule:hover {
    transform: scale(1.1);
  }

  .player-schedules {
    margin-bottom: 0px;
  }
}

.schedule-meta {
  margin-left: 5px;
}

.schedule-meta p {
  line-height: 1.4;
}